.container-flex-row {
  display: flex;
  flex-direction: row;
}
.navbar {
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  padding: 8px 0;
  align-items: center;
}
.input-text {
  width: 400px;
  height: 30px;
  margin: 0 15px;
  border-radius: 8px;
  border: solid 1px $secondary-text;
  padding: 16px;
}
.botton-link {
  display: flex;
  justify-content: center;
  border: 1px solid $accent-text;
  padding: 10px;
  border-radius: 8px;
  a {
    color: $accent-text;
  }
}

.botton-link:hover {
  background-color: $accent-text;
  cursor: pointer;
  a {
    text-decoration-line: underline;
    color: white;
  }
}

.login {
  color: black;
  padding: 10px;
  margin: 0 10px;
  border-radius: 8px;
  a {
    color: $accent-text;
  }
}

.login:hover {
  cursor: pointer;
  background-color: $hoverColor;
  a {
    text-decoration-line: underline;
  }
}
.imagen {
  width: 40px;
  // height: 30px;
}
.popular-tags {
  // container: 1px;
  // border: 1px solid gray;
  // border-radius: 1px;
  // padding: 1px;
  height: 200px;
  overflow-y: scroll;
}
.tagCont {
  width: 100%;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: black;
  }
}
a:visited {
  text-decoration: none;
}

.tagCont:hover {
  background-color: rgb(59, 73, 223, 0.1); //variable
  text-decoration: underline;
  background-color: $hoverColor;

  a {
    text-decoration: none;
    color: $accent-text;
  }
}

.seccion7 {
  margin: 10px 0;
  border: 1px solid $border-color;
  border-radius: 8px;
  padding: 16px;
  background-color: $bg-discuss;
  width: 100%;
  h3 {
    margin: 5px 0;
    font-size: 20px;
  }
  p {
    margin: 15px 0;
  }
}
