$main-font: 'Roboto', sans-serif;
$main-text: #242424;
$secondary-text: #575757;
$accent-text: #3B49DF;
$bg-discuss: #FFFFFF;
$border-color: #E9E9E9;
$backgroundColorAccCard: white;
$bgMain: #F5F5F5;
$hoverColor: #EBECFC;